export RAILS_ENV=development
export DATABASE_NAME_PRODUCTION='CMS_development'
export DATABASE_NAME_DEVELOPMENT='CMS_development'
export DATABASE_NAME_TEST='CMS_development'
export DATABASE_USERNAME='usuario de la bd'
export DATABASE_PASSWORD='clave de la bd'
export MAIL_USER='correo ejemplo'
export MAIL_PASSWORD='contraseña ejemplo'
export OBSERVACION=' todo esto se tiene que editar y cargar a variables de entorno ejecutando  `source .secret.sh`'