version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile_inline: |
        # syntax=docker/dockerfile:1.4

        FROM --platform=$BUILDPLATFORM ubuntu:22.04 AS builder
        ARG DEBIAN_FRONTEND=noninteractive
        ENV PYTHONUNBUFFERED=1

        RUN echo "Installing locals"
        ENV LANG en_US.utf8
        ENV TZ=America/Caracas

        RUN echo "apt-get update and upgrade"
        RUN apt-get update -y && apt-get upgrade -y
        RUN apt install ca-certificates apt-transport-https software-properties-common lsb-release -y

        # install laravel composer and installer for php
        run /bin/bash -c "$(curl -fsSL https://php.new/install/linux/8.4)"

        # install php
        RUN echo "installing php"
        RUN add-apt-repository ppa:ondrej/php -y
        RUN apt-get update -y && apt-get upgrade -y
        RUN apt install php8.4-cli php8.4-fpm libapache2-mod-php8.4 libapache2-mod-fcgid -y
        RUN apt install php8.4-common php8.4-mysql php8.4-xml php8.4-curl php8.4-zip php8.4-mbstring php8.4-bcmath php8.4-intl php8.4-gd -y

        # install git and other tools
        RUN apt-get install git -y
        RUN git config --system --add safe.directory '*'
        RUN apt update -y

        RUN apt install unzip curl gnupg gpg nano vim -y

        # install mysql
        RUN apt install mysql-server -y

        # install composer
        RUN echo "installing composer"
        RUN curl -sS https://getcomposer.org/installer -o /tmp/composer-setup.php
        RUN php -r "if (hash_file('SHA384', '/tmp/composer-setup.php') === '$HASH') { echo 'Installer verified'; } else { echo 'Installer corrupt'; unlink('composer-setup.php'); } echo PHP_EOL;"
        RUN php /tmp/composer-setup.php --install-dir=/usr/local/bin --filename=composer

        # installing laravel  dependencies

        # RUN composer dump-autoload
        # RUN composer install --no-scripts
        # RUN composer update

        EXPOSE 8085
        WORKDIR /home/Desktop/Code/cript
        CMD bash
    ports:
      - "8085:80"
    volumes:
      - .:/home/Desktop/Code/cript
    stdin_open: true
    tty: true
