[Unit]
Description=POS API
Requires=network.target
Requires=mysql.service
After=network.target

[Service]
Environment=NODE_PORT=3001
Type=simple
WorkingDirectory=/home/eightadmin/pos_api
User=eightadmin
ExecStart=/usr/bin/node /home/eightadmin/pos_api/index.js &> /home/eightadmin/logs/pos_api.log &
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target

